body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.start-page,
.game-page,
.results-page {
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}
