.table {
    height: 100%;
    width: 100%;   
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(13, 26, 33);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

