.result-table{
    width: 570px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.table-item{
    margin: 10px;
    font-size: 24px;
    display:block;
}